.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  height: 9.6rem;
  padding: 0 4.8rem;

  &__logo {
    height: 3rem;
  }

  .main-nav {
    &__list {
      display: flex;
      align-items: center;
      gap: 4.8rem;

      list-style: none;
    }

    &__link {
      &:link,
      &:visited {
        display: inline-block;

        font-size: 1.8rem;
        font-weight: 500;

        color: var(--color-gray);
        text-decoration: none;
        transition: all 0.3s ease-out;
      }

      &:hover,
      &:active {
        color: var(--color-gray-200);
      }
    }
  }

  .btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;

    display: none;
  }

  .icon-mobile-nav {
    width: 4.8rem;
    height: 4.8rem;
    color: var(--color-primary);
  }

  .icon-mobile-nav[name="close-outline"] {
    display: none;
  }

  @media (max-width: 938px) {
    .btn-mobile-nav {
      display: block;
      z-index: 9999;
    }

    .main-nav {
      z-index: 9999;
      background-color: rgba(255, 255, 255, 0.801);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);

      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      width: 100%;
      height: 100vh;
      transform: translateX(100%);
      transition: all 0.3s;

      display: flex;
      align-items: center;
      justify-content: center;

      /* hide the navigation */
      /* display: none; */

      /* 1) Hide it visually */
      opacity: 0;
      /* 2) Make it unacessible to mouse and keyboard */
      pointer-events: none;
      /* 3) Hide it from screen readers */
      visibility: hidden;

      &__list {
        flex-direction: column;
        gap: 4.8rem;
      }

      &__link {
        &:link,
        &:visited {
          font-size: 3rem;
        }
      }
    }

    &.nav-open .main-nav {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
      transform: translateX(0);
    }

    &.nav-open .icon-mobile-nav[name="close-outline"] {
      display: block;
    }
    &.nav-open .icon-mobile-nav[name="menu-outline"] {
      display: none;
    }
  }
}

.section-hero {
  background: linear-gradient(to right bottom, #f2f9ff, #fafdff);
  padding: 4.8rem 0 9.6rem 0;

  &__container {
    max-width: 130em;
    margin: 0 auto;
    padding: 0 3.2rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 9.6rem;
  }

  &__text {
    font-family: "Sora", sans-serif;
    font-size: 4.8rem;
    color: var(--color-gray-200);
    margin-bottom: 5rem;
  }

  &__img {
    width: 100%;
  }
}

.section-how {
  padding: 9.6rem 0;
  align-items: center;

  &__items {
    justify-items: center;
    text-align: center;
  }

  &__image {
    width: 30%;
    margin-bottom: 3.2rem;
  }

  &__title {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
  }

  &__text {
    font-size: 1.6rem;
    line-height: 1.8;
    color: var(--color-gray);
  }
}

.section-app {
  padding: 4.8rem 0;
  background-color: #eff8ff;

  & > .container {
    align-items: center;
  }

  &__text {
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--color-gray);
    margin-bottom: 3.2rem;
  }

  &__cta {
    display: flex;
    gap: 3.2rem;
    margin-left: -0.4rem;
  }

  &__cta-image {
    width: 30%;
    transition: all 0.3s;

    &:hover {
      cursor: pointer;
      transform: scale(1.03);
    }
  }

  &__image {
    width: 85%;
  }
}

.section-plan {
  padding: 9.6rem 0;

  & > .container-heading {
    max-width: 48rem;
    margin: 0 auto;
  }

  &__container {
    padding: 9.6rem 0;
  }

  &__plan {
    background-color: #eff8ff;
    padding: 6rem;
    border-radius: 8px;
  }

  &__header {
    text-align: center;
    margin-bottom: 3.2rem;
  }

  &__type {
    font-family: "Sora", sans-serif;
    font-size: 2.4rem;
    margin-bottom: 2rem;
    color: var(--color-gray-200);
  }

  &__price {
    font-size: 8.6rem;
    font-weight: 700;
    color: var(--color-gray-200);

    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: 1.4rem;
      font-weight: 600;

      &:first-child {
        margin-bottom: 4.4rem;
      }
      &:last-child {
        margin-bottom: -4.4rem;
      }
    }
  }

  &__description {
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: center;
    color: var(--color-gray);
    margin-bottom: 2.4rem;
  }

  &__sign-up {
    text-align: center;
  }

  & .btn {
    width: 90%;
  }

  &__--premium {
    background-color: var(--color-gray-200);
    position: relative;
    overflow: hidden;
    margin-top: -3rem;
    align-self: flex-start;

    & * p,
    & > p {
      color: #fff;
    }

    &::before {
      content: "Preferido";
      position: absolute;
      top: 8%;
      right: -17.6%;
      transform: rotate(45deg);
      padding: 0.4rem 8rem;

      font-size: 1.4rem;
      font-weight: 700;
      color: #fff;
      background-color: var(--color-primary);
      text-transform: uppercase;
    }
  }
}

.section-contact {
  padding: 9.6rem 0;

  background-image: linear-gradient(rgba(41, 49, 69, 0.7), rgba(41, 49, 69, 0.7)),
    url("../assets/background.jpg");
  background-size: cover;
  background-position: 50% 50%;

  & .subheading,
  & .heading-secondary {
    color: #fff;
  }

  form {
    max-width: 50rem;
    margin: 0 auto;

    display: flex;
    align-items: center;
    gap: 2rem;

    input {
      width: 100%;
      height: 4rem;
      background: transparent;
      border: none;
      border-bottom: 1px solid #fff;
      font-size: 1.6rem;
      padding: 1rem;
      color: #fff;

      &::placeholder {
        font-size: 1.6rem;
        font-weight: 600;
        color: #fff;
      }
    }

    button {
      font-size: 1.6rem;
      font-family: "Inter", sans-serif;

      display: inline-block;
      padding: 0.8rem 3.2rem;
      background-color: var(--color-primary);
      border: none;
      border-radius: 50px;

      color: #fff;
      cursor: pointer;
    }
  }
}

.footer {
  padding: 4.8rem 0;

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  img {
    max-width: 100%;
    height: 4rem;
  }

  p {
    font-family: "Sora", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
  }
}
